<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.futin.tabletest" >

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".userInterface.login.Welcome"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".userInterface.login.LoginAndRegistration"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity
            android:name=".userInterface.fragments.FragmentFindMeOnTheMap"
            android:label="@string/title_activity_fragment_find_me_on_the_map" >
        </activity>
        <activity
            android:name=".userInterface.fragments.FragmentEnterData"
            android:label="@string/title_activity_fragment_enter_data" >
        </activity>
        <activity
            android:name=".userInterface.fragments.FragmentDisplayData"
            android:label="@string/title_activity_fragment_display_data" >
        </activity>
        <activity android:name=".userInterface.mainPage.MainPage" >
        </activity>
        <activity
            android:name=".userInterface.tables.ShowStudentsTableView"
            android:label="@string/title_activity_show_students_table_view" >
        </activity>
        <activity
            android:name=".userInterface.tables.ShowInstrumentsTableView"
            android:label="@string/title_activity_show_instruments_table_view" >
        </activity>
        <activity
            android:name=".userInterface.tables.ShowCitiesTableView"
            android:label="@string/title_activity_show_cities_table_view" >
        </activity>
        <activity
            android:name=".userInterface.tables.ShowStudentsWithInstrumentsTableView"
            android:label="@string/title_activity_show_students_with_insturments_table_view" >
        </activity>
    </application>

</manifest>
